@tailwind base;
@tailwind components;
@tailwind utilities;
.loader {
  width: 10px;
  height: 10px;
  border: 3px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #FF3D00 transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
.enlarged-image-container {
  border: 4px solid #505050 !important; /* Bạn có thể thay đổi màu và độ dày */
}




.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  margin-left: -20px;
  display: flex;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 20px;
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 20px;
  padding: 0;
}




.ProductThumbs .slick-list .slick-track div div{
  /* border: #FF3D00;
  border-style: solid;
  border-width: 1px; */
  padding: 0 5px;
}
button.slick-next {
  right: 80px;
  z-index: 10;
}
.ProductThumbs button.slick-next{
  top: 40px;
  right: 60px;
}
.ProductThumbs button.slick-prev{
  top: 40px;
  left: 0px;
}
.Brands_Slider button.slick-next{
  top: -3px;
  right: 60px;
  z-index: 10;
}
.Brands_Slider button.slick-prev{
  top: -3px;
  left: 0px;
  z-index: 10;
}
button.slick-prev {
  left : 20px;
  z-index: 10;
}
button.slick-next::before{
  color: #151515;
  content: '\276F';
  background-color: wheat;
  width: 80px;
  height: 80px;
  font-size: 40px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}
button.slick-prev::before{
  color: #151515;
  content: '\276E';
  background-color: wheat;
  width: 80px;
  height: 80px;
  font-size: 40px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}